#### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as file:
    file.write(test1)

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

print(test1 == test2) # True

True

#### 3. Create a CSV file called books.csv by using these lines:
**title,author,year**

**The Weirdstone of Brisingamen,Alan Garner,1960**

**Perdido Street Station,China Miéville,2000**

**Thud!,Terry Pratchett,2005**

**The Spellman Files,Lisa Lutz,2007**

**Small Gods,Terry Pratchett,1992**

In [3]:
import csv

header = ['title', 'author', 'year']
rows = [['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
        ['Perdido Street Station', 'China Miéville', 2000],
        ['Thud!', 'Terry Pratchett', 2005],
        ['The Spellman Files', 'Lisa Lutz', 2007],
        ['Small Gods', 'Terry Pratchett', 1992]]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(rows)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''CREATE TABLE books
             (title TEXT, author TEXT, year INTEGER)''')

conn.commit()
conn.close()

#### 5. Read books.csv and insert its data into the book table.

In [5]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    header = next(reader)  # skip the header row
    for row in reader:
        c.execute('INSERT INTO books VALUES (?, ?, ?)', row)

conn.commit()
conn.close()

#### 6. Select and print the title column from the book table in alphabetical order.

In [6]:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('SELECT title FROM books ORDER BY title ASC')
titles = c.fetchall()
for title in titles:
    print(title[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### 7. From the book table, select and print all columns in the order of publication.

In [7]:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('SELECT * FROM books ORDER BY year ASC')
books = c.fetchall()
for book in books:
    print(book)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData

engine = create_engine('sqlite:///books.db')
metadata = MetaData()

books = Table('books', metadata,
              Column('title', String),
              Column('author', String),
              Column('year', Integer))

with engine.connect() as conn:
    result = conn.execute(books.select().order_by(books.c.title.asc()))
    for row in result:
        print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [10]:
import redis

redis_client = redis.Redis(host='localhost', port=6379, db=0)
redis_client.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
print(redis_client.hgetall('test'))

{b'count': b'1', b'name': b'Fester Bestertester'}

C:\Users\GIS-PC\AppData\Local\Temp\ipykernel_8604\3834957335.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  redis_client.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

#### 10. Increment the count field of test and print it.

In [11]:
import redis

redis_client = redis.Redis(host='localhost', port=6379, db=0)
redis_client.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
print(redis_client.hgetall('test'))

{b'count': b'1', b'name': b'Fester Bestertester'}

C:\Users\GIS-PC\AppData\Local\Temp\ipykernel_8604\3834957335.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  redis_client.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})